#wrapper{
    position: relative;
}

#sidebar{
position: fixed;
height: 100%;
width: 0;
z-index: 1;
}
#sidebar ul{
margin-top: 60px;
list-style: none;
padding-left:0 ;
margin-left: 0;
}
#sidebar li{
line-height: 40px;
text-indent: 20px;

}

#sidebar li a{
color: #fff;
display: block;
text-decoration: none;
}

#sidebar li a:hover{
background: rgb(30, 87, 68);
}
#sidebar li a{
color: #fff;
display: block;
text-decoration: none;
}

#sidebar li a:hover{
background: rgb(100, 151, 134)
}
.li-active{
    background: #94c83d;
    color: black;
}

#wrapper.menuDisplayed #sidebar{
width: 240px;
}
#content{

position: absolute;
width: 75%;


}
#wrapper.menuDisplayed #content{
padding-left: 240px;



}
.modal-btn{
    position: absolute; top: 30px; right: 30px;
}
.right {
    width: 100%;
    text-align: center;

}
.right > li {
    float: none;
    display: inline-block;
}
.green{
    background-color: #94c83d;
}
